body{
  text-align: center;
  background-color: lightgrey;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 14px;
}

.MusicVideos {
  padding-left: 5%;
  padding-right: 5%;
}

/*Customizing each block to give them a little personality*/

#LoFi {
  background-color: goldenrod;
  border: 10px solid black;
  font-family: arial;
}

#EightiesMusic {
  background-color: lightgreen;
  border: 10px solid red;
  font-family: verdana;
}

#Kpop {
  background-color: skyblue;
  border: 10px solid orange;
  font-family: impact;
}

#VG {
  background-color: darkorchid;
  border: 10px solid yellow;
  font-family: Tahoma;
}

#Kpop h5 {
  font-family: "Times new Roman";
}

/*Styling the border for each music video box*/
.box {
  border-radius: 10px;
}

table {
  width: 100%;
}

.test {
  width: 10%;
}

/*Giving a little character to the survey section*/


input[type=text] {
  color: red;
  width: 100%;
  margin: 5px 0px;
  border: 1px solid black;
  border-radius: 12px;
  padding: 5px 15px 5px 0px;

}

/*Giving emphasis on what part of the survey you're entering for*/
input[type=text]:focus {
  background-color: bisque;
  font-weight: bold;
}

form {
  color: royalblue;
  display: inline-block;
  width: 100%;
}

/*This helps center the survey area while also keeping the text orderly!
Before, just centering the survey would cause the text boxes to stretch out a little further.
This was due to the text from the First Name, Last Name, etc. not being equal lengths!
By using a table, it ensure that all input fields have the same start point, giving it a bit more uniformity*/
#surveyDiv {
  width: 75%;
  display: inline-block;
  text-align: center;
  padding-left: 5%;
  padding-right: 5%;
}
