body{
  text-align: center;
  background-color: lightgrey;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 14px;
}

.MusicVideos {
  padding-left: 5%;
  padding-right: 5%;
}

#LoFi {
  background-color: goldenrod;
  border: 10px solid black;
  font-family: arial;
}

#EightiesMusic {
  background-color: lightgreen;
  border: 10px solid red;
  font-family: verdana;
}

#Kpop {
  background-color: skyblue;
  border: 10px solid orange;
  font-family: impact;
}

#VG {
  background-color: darkorchid;
  border: 10px solid yellow;
  font-family: Tahoma;
}

#Kpop h5 {
  font-family: "Times new Roman";
}

/*Styling the border for each music video box*/
.box {
  border-radius: 10px;
}

input[type=text] {
  color: red;
  width: 75%;
  margin: 5px 0px;
  border: 1px solid black;
  border-radius: 12px;
  padding: 5px;

}

input[type=text]:focus {
  background-color: bisque;
  font-weight: bold;
}

form {
  color: royalblue;
}

input {
  padding: 10px 20px;
  font-weight: bolder;
}
